body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
}

header {
  padding: 2rem;
}

img {
  max-width: 90%;
  margin: 2rem auto;
  display: block;
}
